.qterest-form-container {
    position: relative;
    .qterest-form,
    .qterest-mailchimp-signup {
        &.loading {
            .qterest-spinner-overlay {
                display: flex;
            }
        }

        .qterest-success-messages {
            display: none;
            padding: 0.4rem 1rem;
            color: #FFFFFF;
            background-color: rgb(97, 207, 77);
            &.show {
                display: block;
            }
        }

        .qterest-error-messages {
            display: none;
            padding: 0.4rem 1rem;
            color: #FFFFFF;
            background-color: rgb(207, 77, 77);
            &.show {
                display: block;
            }
        }

        .qterest-spinner-overlay {
            position: absolute;
            display: none;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            justify-content: center;
            align-items: center;

            background-color: rgba(255, 255, 255, 0.4);

            .qterest-spinner {
                display: inline-block;
                width: 50px;
                height: 50px;
                border: 3px solid rgb(160, 160, 160);
                border-radius: 50%;
                border-top-color: rgb(61, 61, 61);
                animation: qterest-spin 1s ease-in-out infinite;
                -webkit-animation: qterest-spin 1s ease-in-out infinite;
            }
        }
        .qterest-form-misc {
            margin-bottom: 1rem;
            &.qterest-hide {
                display: none;
            }
        }
        .qterest-form-row {
            margin-bottom: 1rem;
            width: 100%;
            &.qterest-hide{
                display: none;
            }
            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="number"],
            select,
            textarea {
                width: 100%;
            }
        }
    }
}


@keyframes qterest-spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes qterest-spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}